/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.logo {
    max-width: 30%;
    max-height: 30%;
}

.readyToPunch {
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: readyToPunch;
}

@keyframes readyToPunch {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.punchAnimation {
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: punchAnimation;
}

@keyframes punchAnimation {
    0% {
        transform: translate(0px,400%);
    }

    30% {
        transform: translate(0px,5%);
    }

    40%,90% {
        transform: translate(0px,15%);
    }

    100% {
        transform: translate(0px,-200%);
    }
}

.game {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 15%;
    left: 5%;
    text-align: center;
}

.shakeToStart {
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: shakeToStart;
}

@keyframes shakeToStart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
