@model string
@{
    ViewData["Title"] = "Photo";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-12">
            <img src="data:image/png;base64,@Model" class="img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-lg-2">
            <a asp-action="Index" asp-controller="MobileNative"><i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
    </div>
</div>